.header-color{

    background: #D66D75;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid{

    background: #D66D75;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   text-align:center;
}

.avtar-img{
    height: 250px;
    padding: 5em;
    border-radius: 50%;
}

.banner-txt{
    background-color: black;
    opacity: 0.8;
    width:75%;
    border-radius: 15px;
    margin:auto;
}

.banner-txt h1{
    font-size: 70px;
    font-weight: bold;
    color:white;
}

.banner-txt hr{
    border-top:5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-txt p{
    color:white;
    font-size: 20px;
    padding:20em;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.social i{
    color: white;
    font-size: 5em;
    padding: 10px;
}